@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Timesheet System</h1>
</div>

<div class="row">
    <a asp-controller="Timesheet" asp-action="Index" class="btn btn-primary">Edit Timesheet</a>
</div>