@model TimesheetSystem.ViewModels.WeeklyTimesheetViewModel
<div class="card timesheet-card border-0">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h4 class="mb-0">Project hours this week</h4>
	</div>
	<div class="card-body mb-0">
		<table class="table table-striped table-hover ">
			<colgroup>
				<col style="width: 80%;">
				<col style="width: 20%;">
			</colgroup>
			<thead>
				<tr>
					<th>Project</th>
					<th class="text-end">Hours</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var projectLog in Model.ProjectTotals)
				{
					<tr>
						<td>@projectLog.ProjectName</td>
						<td class="text-end">@projectLog.TotalHours.ToString("F2")</td>
					</tr>
				}
				@if (Model.Entries.Count == 0)
				{
					<tr>
						<td colspan="2"><p>No project hours recorded for selected week</p></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>