@model TimesheetSystem.ViewModels.WeeklyTimesheetViewModel
@{
	ViewData["Title"] = "Weekly Timesheets";
}
<div class="container col-md-8 offset-md-2">
	<div class="row mb-3">
		@await Html.PartialAsync("_UserSelector", Model.NavigationData)
		<div class="row mb-4">
			<div class="col-md-12">
				<h2>Weekly Timesheets</h2>
			</div>
		</div>
		@await Html.PartialAsync("_WeekSelector", Model.NavigationData)
	</div>

	@if (Model.NavigationData.SelectedUserId > 0)
	{
		<div class="row">
			<div class="col-md-12">

				@await Html.PartialAsync("_UserWeekList", Model)
				@await Html.PartialAsync("_ProjectWeekSummary", Model)
			</div>
		</div>
	}
</div>
